.menu-bar {
  background-color: blue;
}
.menu {
  display: flex;
  justify-content: space-between;
}
.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.menu ul li a {
  display: flex;
  padding: 15px;
  /* top and bottom  */
  flex-direction: column; 
  align-items: center;
  color: white;
  text-decoration: none;
  font-size: 15px;
}
.menu ul li a i {
  font-size: 25px;
}
.menu ul li a span {
  font-size: 15px;
}
.menu ul li a:hover {
  background-color: wheat;
}
/* add queries media  */
@media (min-width: 576px) {
  /* li that in ul 1 that have class btn-menu  */
  .menu ul:nth-child(1) li.btn-menu {
    display: block;
  }
  .menu ul:nth-child(1) li:not(.btn-menu) {
    display: none;
  }
}
@media (min-width: 768px) {

}
@media (min-width: 992px) {
  /* li that in ul 1 that have class btn-menu  */
.menu ul:nth-child(1) li.btn-menu {
  display: none;
}
.menu ul:nth-child(1) li:not(.btn-menu) {
  display: block;
}
}
@media (min-width: 1200px) {
  
}
@media (min-width: 1400px) {
  
}

